{# src/Cupon/UsuarioBunle/Resources/views/Default/registro.html.twig #}

{% extends '::frontend.html.twig' %}

{% block id 'usuario' %}

{% block title %}Regístrate gratis como usuario{% endblock %}

{% block article %}
    <h1>{{ block('title') }}</h1>
{% endblock %}

{% block aside %}{% endblock %}